.gallery {
  padding: 60px 0;
  background: #f9f9f9;
  text-align: center;
}

.container5 {
  display: grid;
}

.section-title5 h2 {
  font-size: 15px;
  color: grey;
}

.section-title5 p {
  font-size: 30px;
  color: black;
  width: 100%;
}

.description5-title {
  color: red;
}

.gallery-container {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 80%;
  margin: auto;
}

.gallery-track {
  display: flex;
  width: max-content;
  gap:2px;
}

.gallery-item {
  flex: 0 0 20%;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  
}

.gallery-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 41%;
  width: 20%;
  height: 100%;
  border: 10px solid red;
  box-sizing:border-box;
  pointer-events: none;
  background:transparent;
  z-index: 2;
}

.gallery-dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: red;
}
