.section {
  padding: 30px;
 
  margin-bottom: 20px;
  
  
  margin: 0;
  color: white;
}

.section-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.section-icon img {
  width: 30px;
  height: 30px;
}

.section-container {
  display: grid;
  grid-template-columns: repeat(3,minmax(200px,1fr));
 
  gap: 1px;
  
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 956px) {
  .section-container, .section-title {
    grid-template-columns: repeat(auto-fit, 300px); 
    gap:60px;
    flex-direction:column;
  }
}

/* Responsive */
@media screen and (max-width: 768px) {
  .section-container, .section-title {
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr)); 
    flex-direction:column;
    gap:60px;
    justify-content: center;
    width: 100%;
 }
}

@media screen and (max-width: 350px) {
  .section-container {
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr)); 
    flex-direction:column;
    gap:10px;
   
  }
}

@media screen and (max-width: 286px) {
  .section-container {
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr)); 
    flex-direction:column;
    width:90px;
    gap:10px;
   
  }
}


